<div class="container">
    <div class="component">
        <div class="title">Total Earnings</div>
        <div class="content">
            <div class="content-left">
                <h2>$39k</h2>
                <div class="percent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10">
                        <path id="DownArrow" d="M9,9V4A.945.945,0,0,0,8,3H8A.945.945,0,0,0,7,4V9H4l4,4,4-4Z"
                            transform="translate(-4 -3)" fill="#ff4141" />
                    </svg>
                    <p class="text-red">13.8%</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112" height="40"
                viewBox="0 0 112 40">
                <defs>
                    <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#5ee2a0" />
                        <stop offset="1" stop-color="#5ee2a0" stop-opacity="0.502" />
                    </linearGradient>
                </defs>
                <path id="Bar_Chart" data-name="Bar Chart"
                    d="M98,119V101h6v18Zm-9,0V89h8v30Zm-9,0V99h8v20Zm-9,0V106h8v13Zm-9,0V94h8v25Zm-9,0V84h8v35Zm-9,0V94h8v25Zm-9,0V99h8v20Zm-9,0V79h8v40Zm-9,0V89h8v30Zm-7,0V101h6v18Zm-9,0V89H9v30Zm-9,0V99H0v20Z"
                    transform="translate(8 -79)" fill="url(#linear-gradient)" />
            </svg>
        </div>
    </div>


    <div class="component">
        <div class="title">Products Sold</div>
        <div class="content">
            <div class="content-left">
                <h2>2453</h2>
                <div class="percent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10">
                        <path id="UpArrow" d="M9,9V4A.945.945,0,0,0,8,3H8A.945.945,0,0,0,7,4V9H4l4,4,4-4Z"
                            transform="translate(12 13) rotate(180)" fill="#3cc480" />
                    </svg>

                    <p class="text-green">13.6%</p>
                </div>
            </div>
            <div class="chart">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112"
                    height="40" viewBox="0 0 112 40">
                    <defs>
                        <linearGradient id="linear-gradient2" x1="0.5" x2="0.5" y2="1"
                            gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#a3a0fb" />
                            <stop offset="1" stop-color="#a3a0fb" stop-opacity="0.502" />
                        </linearGradient>
                    </defs>
                    <path id="Bar_Chart" data-name="Bar Chart"
                        d="M98,119V101h6v18Zm-9,0V89h8v30Zm-9,0V99h8v20Zm-9,0V106h8v13Zm-9,0V94h8v25Zm-9,0V84h8v35Zm-9,0V94h8v25Zm-9,0V99h8v20Zm-9,0V79h8v40Zm-9,0V89h8v30Zm-7,0V101h6v18Zm-9,0V89H9v30Zm-9,0V99H0v20Z"
                        transform="translate(8 -79)" fill="url(#linear-gradient2)" />
                </svg>
            </div>
        </div>
    </div>
</div>